body {
  display: flex;
  margin: 0;
}

.leftside {
  width: 20vw;
  height: 100vh;
  background-color: #BD93F9;
}

.logo {
  display: flex;
  gap: 2vw;
  color: #F8F8F2;
}
.logo img {
  max-width: 4em;
}

.nav_bar li {
  display: flex;
  gap: 5%;
}

.nav_bar img {
  width: 2em;
}

.settings li {
  display: flex;
  gap: 5%;
}

.settings img {
  width: 2em;
}

.rightside {
  width: 80vw;
  background-color: #282A36;
}

.header {
  height: 15%;
  background-color: #6272A4;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.header_top div + div {
  display: flex;
  gap: 5%;
  align-items: center;
}

.header_top div + div h4 {
  margin: 0 0 0 0;
  width: 150px;
}

.search_bar {
  display: flex;
  align-items: center;
  gap: 3%;
}

.search_bar img {
  width: 2em;
  height: 2em;
}

.search_bar input {
  border-radius: 10px;
  width: 400px;
}

.bell_icon {
  width: 2em;
}

.user_profile_icon {
  width: 3em;
  height: 3em;
}

.header_bot {
  display: flex;
  justify-content: space-evenly;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.cards div {
  background-color: grey;
  border: solid 3px;
  border-left-color: orange;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content_left {
  width: 60vw;
  margin-right: 2vw;
  margin-left: 2vw;
}

.content_right {
  display: flex;  
  flex-direction: column;
  width: 20vw;
  margin-right: 2vw;
}

.content_right_top {
  border: solid black 2px;
}

.content_right_bot {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.content_right_bot > div {
  display: flex;
  align-self: center;
}

.content_right_bot > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_right_bot img {
  width: 50px;
  height: 50px;
  align-self: center;
}
